@model Day

@{
    ViewBag.Title = "Add day";
}

<h2>Add a day</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Date)
        @Html.TextBoxFor(model => model.Date, new { @class = "form-control", type = "date", style = "width:200px"})
        @Html.ValidationMessageFor(model => model.Date)
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>