@model List<Day>

@{
    ViewBag.Title = "Event List";
}

<p>
    @Html.ActionLink("Create New Event", "Create", new {size = "390"})
</p>
@foreach (var item in Model)
{
    <h2>@item.Date.ToString("yyyy.MM.dd")</h2>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>StartTime</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        @if (item.events != null)
        {
            @foreach (var dayEvent in item.events)
            {
                <tr>
                    <td>@dayEvent.Name</td>
                    <!-- <td>@dayEvent.StartTime.ToShortDateString()</td> -->
                    <td>@dayEvent.StartTime.ToString("HH:mm yyyy.MM.dd")</td>
                    <td>@dayEvent.Description</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = dayEvent.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = dayEvent.Id })
                    </td>
                </tr>
            }
        }
    </table>
}