@model List<Event>

@{
    ViewBag.Title = "Event List";
}

<h2>Event List</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>StartTime</th>
        <th>Description</th>
        <th>Group</th> 
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <!-- <td>@item.StartTime.ToShortDateString()</td> -->
            <td>@item.StartTime.ToString("HH:mm yyyy.MM.dd")</td>
            <td>@item.Description</td>
            <td>@item.CourseGroup</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>


<p>
    @Html.ActionLink("Create New Event", "Create")
</p>