@{
    ViewBag.Title = "Events List";
}

<p>
    @Html.ActionLink("Create New Event", "Create")
</p>

<h2> @ViewBag.Date </h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>StartTime</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    @if (ViewBag.Events != null)
    {
        @foreach (var item in ViewBag.Events)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StartTime.ToString("HH:mm")</td>
                <td>@item.Description</td>
                <td>
                    <a href="javascript:void(0);" onclick="redirectToDelete(@item.Id, ViewBag.Date)">Delete</a>

                    <script>
                        function redirectToDelete(id, dayDate) {
                            console.log("URL:", url);
                            window.location.href = '@Url.Action("Delete", "Events")' + '?id=' + id + '&dayDate=' + dayDate;
                        }
                    </script>
                </td>
            </tr>
        }
    }
</table>