@{
    ViewBag.Title = "Events List";
}

<p>
    @Html.ActionLink("Create New Event", "Create", new { dayDate = ViewBag.Date })
</p>

<h2> @ViewBag.Date </h2>

<table class="table">
    @if (ViewBag.Events != null)
    {
        <tr>
            <th>Name</th>
            <th>StartTime</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in ViewBag.Events)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StartTime.ToString("HH:mm")</td>
                <td>@item.Description</td>
                <td>
                    <a href="javascript:void(0);" onclick="redirectToEdit(@item.Id, '@ViewBag.Date')">Edit</a>
                    <a href="javascript:void(0);" onclick="redirectToDelete(@item.Id, '@ViewBag.Date')">Delete</a>
                    <script>
                        function redirectToEdit(id, dayDate) {
                            var url = '@Url.Action("Edit", "Events")' + '?id=' + id + '&dayDate=' + dayDate;
                            window.location.href = url;
                        }
                        function redirectToDelete(id, dayDate){
                            var url = '@Url.Action("Delete", "Events")' + '?id=' + id + '&dayDate=' + dayDate;
                            window.location.href = url;
                        }
                    </script>

                </td>
            </tr>
        }
    }
</table>

<div>
    @Html.ActionLink("Back to Calendar", "Index")
</div>